USE [master]
GO
/****** Object:  Database [AdventureWorksDW]    Script Date: 12/03/2026 16:11:00 ******/
CREATE DATABASE [AdventureWorksDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdventureWorksDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AdventureWorksDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdventureWorksDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AdventureWorksDW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdventureWorksDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdventureWorksDW]
GO
/****** Object:  Table [dbo].[DimCategory]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCategory](
	[CategoryKey] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[ParentCategory] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] NOT NULL,
	[AccountID] [nvarchar](10) NOT NULL,
	[PersonID] [int] NULL,
	[Gender] [nchar](1) NULL,
	[Zone] [nvarchar](50) NULL,
	[Country] [nvarchar](3) NULL,
	[Region] [nvarchar](50) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CustomerAnalysis_CustomerKey] PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[DayName] [nvarchar](10) NOT NULL,
	[DayNumOfWeek] [tinyint] NOT NULL,
	[DayNumOfYear] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [nvarchar](10) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[WeekNumOfYear] [tinyint] NOT NULL,
 CONSTRAINT [PK_DimDate_DateKey] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPaymentMethod]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPaymentMethod](
	[PaymentMethodKey] [tinyint] NOT NULL,
	[PaymentMethodName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[ProductName] [nvarchar](100) NULL,
	[ParentProductName] [nvarchar](100) NULL,
	[Brand] [nvarchar](50) NULL,
	[CategoryKey] [int] NULL,
	[Cost] [money] NULL,
	[LaunchDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[SafeStockQuantity] [int] NULL,
	[StockQuantity] [int] NULL,
	[StockStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShipMethod]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipMethod](
	[ShipMethodKey] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DeliveryDays] [smallint] NOT NULL,
	[BasePrice] [money] NOT NULL,
	[ShipRate] [money] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ShipMethod_ShipMethodID] PRIMARY KEY CLUSTERED 
(
	[ShipMethodKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOrders]    Script Date: 12/03/2026 16:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrders](
	[FactKey] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[CategoryKey] [int] NOT NULL,
	[PaymentMethodKey] [tinyint] NOT NULL,
	[ShipMethodKey] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[GrossAmount] [money] NOT NULL,
	[DiscountAmount] [money] NOT NULL,
	[NetAmount] [money] NOT NULL,
	[CostAmount] [money] NOT NULL,
	[ProfitAmount] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DimCategory_CategoryName]    Script Date: 12/03/2026 16:11:01 ******/
CREATE NONCLUSTERED INDEX [IX_DimCategory_CategoryName] ON [dbo].[DimCategory]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimCategory] ADD  CONSTRAINT [DF_DimCategory_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[DimPaymentMethod] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DimProduct] ADD  DEFAULT ((0)) FOR [CategoryKey]
GO
ALTER TABLE [dbo].[DimProduct]  WITH CHECK ADD FOREIGN KEY([CategoryKey])
REFERENCES [dbo].[DimCategory] ([CategoryKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([CategoryKey])
REFERENCES [dbo].[DimCategory] ([CategoryKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([PaymentMethodKey])
REFERENCES [dbo].[DimPaymentMethod] ([PaymentMethodKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactOrders]  WITH CHECK ADD FOREIGN KEY([ShipMethodKey])
REFERENCES [dbo].[DimShipMethod] ([ShipMethodKey])
GO
ALTER TABLE [dbo].[DimProduct]  WITH CHECK ADD CHECK  (([StockStatus]='Out-of-Stock' OR [StockStatus]='Critical' OR [StockStatus]='In-Stock'))
GO
USE [master]
GO
